$cWhite: white;
$cBlack: black;

#container {
  text-align: center;
}

.btn {
  background-color: $cWhite;
  color: $cBlack;
  border: 1px solid $cBlack;
  padding: 10px 40px;
  font-weight: 600;
  cursor: pointer;
  margin: 50px 0;
  /* 変わり方を指定 ★引数で様々なルールを指定できる */
  transition: all 0.3s;

  &:hover {
    background-color: $cBlack;
    color: $cWhite;
  }
}
